.main-parallax {
    position: relative;
	width: 100%;
	height: 584px;
	overflow: hidden;
	background: url("../img/main-bg.jpg") no-repeat center center;
}
.main-parallax .container {
	position: relative;
	height: 100%;
}
.main-parallax #parallax-scene {
    height: 100%;
}
.car-object {
	width: 100%;
	height: 584px;
	position: absolute;
	left: 0;
    top: 0;
	z-index: 1;
	background: url("../img/car.png") no-repeat center center;
	background-size: contain;
}
.boxes-object {
	width: 100%;
	height: 584px;
	position: absolute;
	left: 0;
    top: 0;
	z-index: 3;
	background: url("../img/boxes.png") no-repeat center center;
	background-size: contain;
}
.text-object {	
	position: absolute;
	top: 47%;
	left: 0;
	width: 100%;
	z-index: 2;	
	font-size: 84px;
	line-height: 126px;	
	margin-top: -78px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 8px 13px 29px rgba(0, 0, 0, 0.54);
}
.text-object ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
}
.text-object ul li {
	position: absolute;
	top: 0;
	display: none;    
	width: 870px;
    text-align: right;
	animation-duration: 1s;
	animation-fill-mode: both;
}
.text-object ul li.active {
	display: block;	
    animation-name: fadeInUp;
}
.text-object ul li.fadeup {
	display: block;	
  	animation-name: fadeOutUp;
}
.text-object .text-answer {
	position: absolute; 
	right: 0;
    width: 320px;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
} 

@media (max-width: 1199px) {
	.main-parallax {
		height: 533px;
	}
	.text-object {
	    font-size: 60px;
	    width: 1000px;
	    left: 50%;
	    margin-left: -500px;
	}
	.text-object ul li {
		width: 650px;
	}
	.text-object .text-answer {
	    width: 340px;
	}
	.car-object, .boxes-object {
		height: 100%;
	}
}
@media (max-width: 991px) {
	.main-parallax {
		height: 500px;
	}

	.text-object {
	    font-size: 54px;
	    width: 800px;
	    left: 50%;
	    margin-left: -400px;
	}
	.text-object ul li {
		width: 550px;
	}
	.text-object .text-answer {
	    width: 230px;
	}
}
@media (max-width: 899px) {
	.main-parallax {
		height: 360px;
	}

	.text-object {
	    font-size: 40px;
	    width: 580px;
	    left: 50%;
	    margin-left: -290px;
	}
	.text-object ul li {
		width: 400px;
	}
	.text-object .text-answer {
	    width: 160px;
	}
}
@media (max-width: 599px) {
	.main-parallax {
		height: 220px;
	}

	.text-object {
	    font-size: 22px;
	    width: 330px;
	    left: 50%;
	    margin-left: -180px;
	}
	.text-object ul li {
		width: 220px;
	}
	.text-object .text-answer {
	    width: 85px;
	}

}
 

/* part 2 */
#offer-parallax {
	
	background: url("../img/home-special-big.jpg") no-repeat 50% 0 fixed; 
	background-size: 2500px;
}

@media (max-width: 599px) {
#offer-parallax {
	
	background: url("../img/home-special-big.jpg") no-repeat 50% 0; 
	/*background-size: 2500px*/;
}
}	

.hide {
	display: none!important;
}