.container.loginpage {
  font-family: "Open Sans", arial, sans-serif;
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px; }
    .container.loginpage * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .container.loginpage .loginform h3 {
    margin-bottom: 25px; }
    .container.loginpage .loginform .inner {
    background-color: #f9f9f9; }
    .container.loginpage .loginform p {
    color: #222222;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 25px; }
    .container.loginpage .inner {
    padding: 40px 70px; }
        .container.loginpage .inner .step {
      display: none; }
            .container.loginpage .inner .step.active {
        display: block; }
        .container.loginpage .inner h3 {
      margin-top: 0;
      color: #20599d;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 15px; }
        .container.loginpage .inner h4 {
      font-weight: 700;
      font-size: 24px;
      color: #b7b7b7;
      font-family: Montserrat;
      font-size: 18px;
      line-height: 1.2;
      margin-bottom: 20px;
      margin-top: 15px; }
        .container.loginpage .inner ul {
      padding: 0;
      margin-top: 0;
      margin-bottom: 35px; }
            .container.loginpage .inner ul li {
        list-style: none;
        margin-bottom: 10px; }
                .container.loginpage .inner ul li a {
          color: #3fa3f0;
          font-family: Montserrat;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;
          text-decoration: underline; }
                    .container.loginpage .inner ul li a:hover {
            text-decoration: none; }
        .container.loginpage .inner .form-group {
      margin-bottom: 25px; }
            .container.loginpage .inner .form-group a {
        float: right;
        color: #3fa3f0;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-decoration: none; }
                .container.loginpage .inner .form-group a:hover {
          text-decoration: underline; }
            .container.loginpage .inner .form-group label {
        display: block;
        color: #818181;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-transform: uppercase;
        margin-bottom: 4px; }
            .container.loginpage .inner .form-group .form-control {
        display: block;
        width: 100%;
        height: 45px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        border-radius: 0;
        -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
            .container.loginpage .inner .form-group .form-control:focus {
        border-color: #66afe9;
        outline: 0; }
            .container.loginpage .inner .form-group .form-control::-moz-placeholder {
        color: #999999;
        opacity: 1; }
            .container.loginpage .inner .form-group .form-control:-ms-input-placeholder {
        color: #999999; }
            .container.loginpage .inner .form-group .form-control::-webkit-input-placeholder {
        color: #999999; }
            .container.loginpage .inner .form-group .form-control::-ms-expand {
        border: 0;
        background-color: transparent; }
        .container.loginpage .inner .btn {
      cursor: pointer;
      border: none;
      color: #ffffff;
      font-size: 18px !important;
      font-weight: 400 !important;
      font-family: 'Montserrat';
      padding: 11px 15px !important; }
            .container.loginpage .inner .btn.btn-block {
        display: block;
        width: 100%; }
            .container.loginpage .inner .btn.btn-primary {
        background-color: #20599d; }
                .container.loginpage .inner .btn.btn-primary:hover {
          background-color: #3fa3f0; }
            .container.loginpage .inner .btn.btn-light {
        padding: 6px 15px !important;
        color: #b7b7b7;
        height: auto !important;
        background: transparent;
        font-family: Montserrat;
        font-size: 16px !important;
        font-weight: 700 !important;
        line-height: 18px !important; }
                .container.loginpage .inner .btn.btn-light:hover {
          color: #3fa3f0; }
                .container.loginpage .inner .btn.btn-light.active {
          color: #fff;
          background-color: #3fa3f0; }
        .container.loginpage .inner .top {
      margin-bottom: 8px; }
            .container.loginpage .inner .top .btn {
        color: #b7b7b7;
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 700;
        line-height: 1; }
            .container.loginpage .inner .top .or {
        margin-right: 15px;
        margin-left: 15px;
        color: #b7b7b7;
        font-family: 'Montserrat';
        font-size: 16px;
        font-weight: 700;
        line-height: 18px; }
        .container.loginpage .inner .blocks .block {
      display: none; }
            .container.loginpage .inner .blocks .block.active {
        display: block; }
        .container.loginpage .inner .blocks + .bottom {
      margin-top: 25px; }
        .container.loginpage .inner .bottom {
      margin-top: 35px; }
            .container.loginpage .inner .bottom .or {
        padding: 0;
        text-align: right;
        color: #b7b7b7;
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 400;
        line-height: 18px; }
            .container.loginpage .inner .bottom a {
        display: block;
        text-align: right;
        color: #3fa3f0;
        font-family: 'Montserrat';
        font-size: 16px;
        line-height: 1;
        font-weight: 400;
        text-decoration: underline; }
                .container.loginpage .inner .bottom a:hover {
          text-decoration: none; }
        .container.loginpage .inner .phone-group {
      position: relative; }
            .container.loginpage .inner .phone-group input {
        padding-left: 105px !important;
        color: #222222;
        font-weight: 400 !important;
        line-height: 18px !important;
        font-family: "Montserrat" !important;
        font-size: 16px !important; }
            .container.loginpage .inner .phone-group .select2 {
        width: auto !important;
        position: absolute;
        top: 0;
        left: 7px;
        bottom: 0; }
                .container.loginpage .inner .phone-group .select2.select2-container--open b {
          border-color: transparent transparent #222222 transparent; }
                .container.loginpage .inner .phone-group .select2:focus {
          outline: none;
          border: none; }
                .container.loginpage .inner .phone-group .select2 .selection {
          outline: none; }
                .container.loginpage .inner .phone-group .select2 .select2-selection__rendered {
          padding-right: 15px; }
                .container.loginpage .inner .phone-group .select2 b {
          border-color: #222222 transparent transparent transparent; }
                .container.loginpage .inner .phone-group .select2 .select2-selection__arrow {
          width: 8px; }
                .container.loginpage .inner .phone-group .select2 .select2-selection {
          outline: none;
          color: #222222;
          font-weight: 400;
          line-height: 18px;
          font-family: Montserrat;
          font-size: 16px;
          height: 100%;
          line-height: 45px;
          border: none;
          background: transparent;
          vertical-align: middle; }
                    .container.loginpage .inner .phone-group .select2 .select2-selection > * {
            height: 100%;
            line-height: 45px;
            border: none;
            background: transparent;
            vertical-align: middle; }
    .container.loginpage .clearfix:before,
  .container.loginpage .clearfix:after,
  .container.loginpage .form-horizontal .form-group:before,
  .container.loginpage .form-horizontal .form-group:after,
  .container.loginpage .btn-toolbar:before,
  .container.loginpage .btn-toolbar:after,
  .container.loginpage .btn-group-vertical > .btn-group:before,
  .container.loginpage .btn-group-vertical > .btn-group:after {
    content: " ";
    display: table; }
    .container.loginpage .clearfix:after,
  .container.loginpage .form-horizontal .form-group:after,
  .container.loginpage .btn-toolbar:after,
  .container.loginpage .btn-group-vertical > .btn-group:after {
    clear: both; }
    .container.loginpage .vertical-align-middle,
  .container.loginpage .vertical-align-center {
        display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }

.selected-item-lang {
  white-space: nowrap;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  font-family: 'Montserrat'; }
    .selected-item-lang img {
    margin-right: 5px; }
    .selected-item-lang .lang-text {
    width: 39px;
    text-align: center;
    display: inline-block; }

.select2-dropdown {
  width: auto !important; }




@media (max-width: 991px) {
	.container.loginpage .inner {
		padding: 20px 20px;
	}
}
@media (max-width: 767px) {
	.container.loginpage .inner {
		    padding: 15px ;
	}
	
	.container.loginpage .inner .bottom > * {
		padding: 0 5px;
	}
	
	
	.container.loginpage .inner .bottom {
		display: block;
		text-align: center;
	}
	
	.container.loginpage .inner .bottom .or {
		margin-top: 10px;
		text-align: center;
		margin-bottom: 10px;
	}
	
	.container.loginpage .inner .bottom a {
		text-align: center;
	}
}