body {
	margin: 0;
	padding: 0
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px
}

.paymentsteps {
	font-family: "Open Sans", arial, sans-serif
}

.paymentsteps .row-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.paymentsteps .row-flex>[class*=col-] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.paymentsteps .row-flex:after,
.paymentsteps .row-flex:before {
	display: none
}

.paymentsteps * {
	box-sizing: border-box
}

.paymentsteps .col-md-9 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%
}

@media (min-width:992px) {
	.paymentsteps .col-md-9 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%
	}

	.paymentsteps .col-md-3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}
}

@media (max-width:479px) {
	.paymentsteps .col-md-3 {
		padding: 0
	}
}

.paymentsteps .order-1 {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1
}

@media (max-width:991px) {
	.paymentsteps .order-1 {
		-webkit-box-ordinal-group: 13;
		-ms-flex-order: 12;
		order: 12
	}
}

.paymentsteps .order-12 {
	-webkit-box-ordinal-group: 13;
	-ms-flex-order: 12;
	order: 12
}

.paymentsteps .left {
	padding-bottom: 25px;
	padding-right: 130px
}

@media (max-width:991px) {
	.paymentsteps .order-12 {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1
	}

	.paymentsteps .left {
		padding: 0 15px
	}
}

@media (max-width:479px) {
	.paymentsteps .left {
		padding: 0 5px
	}
}

.paymentsteps .left label {
	font-size: 15px;
	color: #818181;
	margin-bottom: 3px;
	display: block
}

.paymentsteps .left .form-group {
	margin-bottom: 20px
}

.paymentsteps .left .row.assign label {
	color: #909aa1
}

.paymentsteps .left .row.assign table {
	width: 100%
}

.paymentsteps .left .row.assign table tr td:last-child {
	text-align: right;
	font-weight: 600
}

.paymentsteps .left legend {
	margin-bottom: 30px
}

.paymentsteps .left .steps {
	margin-top: 30px;
	display: table;
	width: 100%;
	font-size: 12px;
	margin-bottom: 40px;
	font-weight: 600;
	text-align: center
}

.paymentsteps .left .steps .step {
	display: table-cell;
	width: 33%;
	padding-bottom: 30px;
	border-bottom: 1px solid #dce0e2;
	color: #dce0e2
}

.paymentsteps .left .steps .step.active {
	border-bottom-color: #000;
	color: #000
}

.paymentsteps fieldset {
	margin-bottom: 50px
}

.paymentsteps legend {
	font-weight: 400;
	font-family: Montserrat;
	font-size: 20px;
	color: #20599d
}

.paymentsteps span.num {
	margin-top: 2px;
	background: #0b94f7;
	border-radius: 50%;
	padding: 5px;
	color: #fff;
	text-align: center;
	width: 25px;
	font-size: 14px;
	height: 25px;
	line-height: 17px;
	display: block
}

.paymentsteps .right {
	padding: 0 25px 25px;
	background: #f8fafb
}

.paymentsteps .right legend {
	margin-top: 30px
}

.paymentsteps .right legend span.num {
	float: right;
	margin-left: 5px
}

.paymentsteps .right table.items {
	width: 100%
}

.paymentsteps .right table.items thead {
	font-weight: 600;
	font-size: 10px;
	color: #7d7f80;
	text-transform: uppercase;
	text-align: left
}

.paymentsteps .right table.items thead tr th {
	padding-top: 0;
	padding-bottom: 0
}

.paymentsteps .right table.items tr td,
.paymentsteps .right table.items tr th {
	padding: 15px 10px
}

.paymentsteps .right table.items tr td:first-child,
.paymentsteps .right table.items tr th:first-child {
	padding-left: 0;
	width: 1%
}

.paymentsteps .right table.items tr td:last-child,
.paymentsteps .right table.items tr th:last-child {
	padding-right: 0;
	text-align: right
}

.paymentsteps .right table.items tbody {
	font-size: 12px;
	color: #899aa4
}

.paymentsteps .right table.items span.num {
	margin-top: -15px
}

.paymentsteps .right table.items .price,
.paymentsteps .right table.items .weight {
	font-weight: 600;
	display: block
}

.paymentsteps .right table.items .receiver,
.paymentsteps .right table.items .reciever,
.paymentsteps .right table.items .trackingnum {
	display: block
}

.paymentsteps .right .totals {
	width: 100%
}

.paymentsteps .right .totals tr td:last-child {
	width: 1%;
	white-space: nowrap
}

.paymentsteps .right hr {
	background-color: #dce0e2;
	border-color: #dce0e2;
	height: 1px;
	opacity: .2;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px
}

.paymentsteps .right table.subtotals {
	width: 100%;
	font-size: 14px;
	color: #899aa4
}

.paymentsteps .right table.subtotals tr:first-child td {
	padding-top: 0
}

.paymentsteps .right table.subtotals tr:last-child td {
	padding-bottom: 0
}

.paymentsteps .right table.subtotals tr td {
	padding: 10px 15px
}

.paymentsteps .right table.subtotals tr td:first-child {
	padding-left: 0
}

.paymentsteps .right table.subtotals tr td:last-child {
	padding-right: 0;
	text-align: right
}

.paymentsteps .address-box legend {
	font-size: 16px;
	width: 100%
}

.paymentsteps .address-box legend .num {
	margin-top: -1px;
	float: right
}

.paymentsteps .addaddress,
.paymentsteps .removeaddress {
	font-size: 16px;
	color: #00a7f9;
	text-decoration: none
}

.paymentsteps .payment-types .form-group {
	position: relative
}

.paymentsteps .payment-types .info {
	cursor: pointer;
	position: absolute;
	right: 10px;
	bottom: 11px;
	background: url(tipq.jpg) no-repeat;
	width: 27px;
	height: 29px
}

.paymentsteps .payment-types .info span {
	display: none;
	left: 100%;
	width: auto;
	border-radius: 5px;
	padding: 2px 4px;
	position: absolute;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	min-width: 100px
}

.paymentsteps .payment-types .info:hover span {
	display: block
}

.paymentsteps .payment-types .card-number {
	position: relative
}

.paymentsteps .payment-types .card-number:after {
	width: 38px;
	height: 26px;
	position: absolute;
	right: 10px;
	bottom: 12px;
	display: block;
	content: '';
	background: url(cn.jpg) no-repeat;
	z-index: 10;
	pointer-events: none
}

.paymentsteps .payment-types .item {
	border: 1px solid #dfe3e5;
	padding: 35px 40px;
	clear: both;
	margin-bottom: 30px;
	position: relative
}

.paymentsteps .payment-types .item .img {
	position: absolute;
	right: 40px;
	top: 35px
}

.paymentsteps .payment-types .item p {
	padding-left: 36px;
	overflow: hidden;
	max-width: 640px;
	padding-right: 140px;
	color: #95a5ae
}

.paymentsteps .delivery-selector label,
.paymentsteps .payment-types label.form-group {
	font-size: 16px;
	color: #000;
	font-weight: 400;
	text-transform: none;
	cursor: pointer
}

.paymentsteps .payment-types label.form-group .check {
	margin-right: 10px;
	border: 1px solid #dfe3e5;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	position: relative
}

.paymentsteps .payment-types label.form-group>* {
	display: inline-block;
	vertical-align: middle
}

.paymentsteps .payment-types label.form-group input {
	display: none
}

.paymentsteps .payment-types label.form-group input:checked+.check {
	border-color: #0b94f7
}

.paymentsteps .payment-types label.form-group input:checked+.check:before {
	background: #0b94f7;
	position: absolute;
	width: 12px;
	height: 12px;
	left: 4px;
	top: 4px;
	content: '';
	display: block;
	border-radius: 50%
}

.paymentsteps .iradio_minimal .check,
.paymentsteps .iradio_minimal+.check {
	display: none !important
}

@media (max-width:575px) {
	.paymentsteps .delivery-selector .col-sm-6 {
		width: 100%
	}
}

@media (max-width:479px) {
	.paymentsteps .delivery-selector {
		margin: 0
	}

	.paymentsteps .delivery-selector .col-sm-6 {
		padding: 0
	}
}

.paymentsteps .delivery-selector label {
	border-radius: 2px;
	border: 1px solid #dfe3e5;
	height: 50px;
	padding-top: 12px;
	padding-left: 20px
}

.paymentsteps .delivery-selector label .check {
	margin-right: 10px;
	border: 1px solid #dfe3e5;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	position: relative
}

.paymentsteps .delivery-selector label input {
	display: none
}

.paymentsteps .delivery-selector label input:checked+.check {
	border-color: #0b94f7
}

.paymentsteps .delivery-selector label input:checked+.check:before {
	background: #0b94f7;
	position: absolute;
	width: 12px;
	height: 12px;
	left: 4px;
	top: 4px;
	content: '';
	display: block;
	border-radius: 50%
}

.paymentsteps .delivery-selector label .price {
	font-weight: 600;
	text-align: right
}

.paymentsteps .delivery-selector label>* {
	display: inline-block;
	vertical-align: middle
}

@media (max-width:575px) {
	.paymentsteps .row {
		margin: 0 -15px
	}

	.paymentsteps .col-xs-4,
	.paymentsteps .col-xs-6,
	.paymentsteps .col-xs-8 {
		padding: 0 5px;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1
	}
}

@media (max-width:479px) {
	.paymentsteps .row {
		margin: 0 -5px
	}
}

@media (max-width:399px) {
	.paymentsteps .row {
		display: block
	}

	.paymentsteps .col-xs-4,
	.paymentsteps .col-xs-6,
	.paymentsteps .col-xs-8 {
		display: block;
		width: 100%
	}
}

.paymentsteps .select2-container {
	max-width: 100%;
	width: 100% !important
}

.paymentsteps .form-control,
.paymentsteps .select2-container .select2-selection {
	display: block;
	width: 100%
}

.paymentsteps .select2-selection__rendered {
	padding: 10px 5px
}

.paymentsteps .select2-container .select2-search--inline .select2-search__field {
	margin-top: 8px
}

.paymentsteps .select2-container--default .select2-selection--multiple .select2-selection__choice {
	background: #fff
}

.paymentsteps .select2-container .select2-selection {
	min-height: 32px;
	height: auto
}

.paymentsteps .form-control:focus {
	border-color: #66afe9;
	outline: 0
}

.paymentsteps .form-control::-moz-placeholder {
	color: #999;
	opacity: 1
}

.paymentsteps .form-control:-ms-input-placeholder {
	color: #999
}

.paymentsteps .form-control::-webkit-input-placeholder {
	color: #999
}

.paymentsteps .form-control::-ms-expand {
	border: 0;
	background-color: transparent
}

.paymentsteps .form-control[disabled],
.paymentsteps .form-control[readonly],
.paymentsteps fieldset[disabled] .form-control {
	background-color: #eee;
	opacity: 1
}

.paymentsteps .form-control[disabled],
.paymentsteps fieldset[disabled] .form-control {
	cursor: not-allowed
}

.paymentsteps textarea.form-control {
	height: auto
}

.paymentsteps input[type=search] {
	-webkit-appearance: none
}

.paymentsteps .form-group {
	margin-bottom: 15px
}

.paymentsteps .text-right {
	text-align: right
}

@media (max-width:675px) {
	.paymentsteps .text-left-sm {
		text-align: left
	}
}

.paymentsteps .btn-submit {
	margin-top: 40px;
	margin-bottom: 10px;
	background: #0977e1;
	border-radius: 2px;
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	border: none;
	width: 250px;
	max-width: 100%
}

@media (max-width:479px) {
	.paymentsteps .btn-submit {
		width: auto
	}
}

.paymentsteps .input-group-btn .btn {
	cursor: pointer;
	background: 0 0;
	height: 50px;
	font-size: 10px;
	color: #00a7f9;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: uppercase;
	font-weight: 600;
	border: 1px solid #dfe3e5;
	border-left: none;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.select2-results__option {
	font-family: "Open Sans", arial, sans-serif
}

.btn-group-vertical>.btn-group:after,
.btn-group-vertical>.btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.paymentsteps .payment-types .item:after,
.paymentsteps .payment-types .item:before {
	content: " ";
	display: table
}

.btn-group-vertical>.btn-group:after,
.btn-toolbar:after,
.clearfix:after,
.form-horizontal .form-group:after,
.paymentsteps .payment-types .item:after {
	clear: both
}

.right .items span.trackingnum {
	text-overflow: ellipsis;
	max-width: 100px;
	display: block;
	overflow: hidden
}

.container.paymentsteps {
	padding: 0
}

@media (max-width:991px) {
	.paymentsteps .payment-types .item {
		padding: 20px
	}
}

@media (max-width:767px) {
	.paymentsteps .payment-types .item {
		padding: 15px
	}

	.paymentsteps .payment-types .item .img {
		position: static;
		margin: 10px auto;
		display: block
	}

	.paymentsteps .payment-types .item p {
		padding: 0
	}
}

.paymentsteps .delivery-selector label {
	padding-bottom: 12px;
	line-height: 1.6;
	min-height: 50px;
	height: auto;
}

.paymentsteps .payment-types .item .img {
	top: 15px;
}

.paymentsteps .payment-types .card-number::after {
	bottom: 8px;
}

.paymentsteps .payment-types .info {
	bottom: 7px;
}

.paymentsteps legend {
	width: 100%;
}

.paymentsteps .delivery-selector label {
	line-height: 1.4;
}

.paymentsteps .payment-types .item .AuthorizeNetSeal {
	position: absolute;
	right: 40px;
	top: 35px;
	text-align: right;
}

.paymentsteps .payment-types .item .AuthorizeNetSeal img {
	max-height: 45px;
	width: auto;
}

.paymentsteps .left label {
	font-size: 14px;
}


@media (max-width: 479px) {
	.paymentsteps .left.padding-sm {
		padding: 0 15px;
	}
}



@media (max-width: 991px) {

	.paymentsteps .payment-types .item .img,
	.paymentsteps .payment-types .item .AuthorizeNetSeal {
		top: 15px;
		right: 20px;
	}

	.paymentsteps .payment-types .item p {
		padding-left: 0;
	}

	.item .balance {
		float: none !important
	}
}

@media (max-width: 767px) {
	.paymentsteps .item .padding-xs {
		padding: 0 15px;
	}

	.paymentsteps .payment-types .item .AuthorizeNetSeal {
		display: none;
	}

	/*.paymentsteps .payment-types .item .row>*{padding:0;width:100%}*/
}

@media (max-width: 575px) {

	.paymentsteps .col-xs-4,
	.paymentsteps .col-xs-6,
	.paymentsteps .col-xs-8 {
		-ms-flex-preferred-size: initial;
		flex-basis: initial;
	}

}