html,
body {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.hide {
  display: none !important;
}

.popover {
  position: relative;
  color: #3fa3f0;
  cursor: pointer;
  cursor: hand;
}

.accountreg .error {
  /*margin-bottom: 20px;*/
}

.accountreg .error ul {
  padding-left: 20px;
}

.select2-results__options {
  min-width: 100px;
}

.popover .popover-content {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: absolute;
  background: #4c4c4c;
  padding: 5px;
}

.popover .popover-content img {
  width: auto;
  max-width: initial;
}

.popover:hover .popover-content {
  opacity: 1;
  pointer-events: auto;
}

.popover.popover-bottom .popover-content {
  top: 100%;
  right: 0;
}

.fieldset-subtitle {
  font-weight: bold;
  color: #818181;
  font-size: 15px;
  margin-bottom: 30px;
}

.input-group.message-language label {
  display: inline-block;
  margin-right: 30px;
}

.input-group.message-language label:last-child {
  margin-right: 0;
}

.input-group-small-margin label {
  margin-bottom: 20px;
}

.headings-blue {
  background: url(/include/images/bg_stripe.jpg) no-repeat 50% 50%;
  padding: 20px 0;
}

.headings-blue p {
  margin: 0;
  color: #fff;
  font-weight: bold;
  font-size: 36px;
}

.error {
  color: red !important;
}

@media (max-width: 479px) {
  .headings-blue {
    padding: 10px 0;
  }

  .headings-blue p {
    font-size: 26px;
  }
}

@media (max-width: 991px) {
  .account-menu-block .account-menu ul {
    z-index: 10;
  }
}

.coupon-list-inner.hide {
  display: none;
}

html body div.container .pull-right,
html body div .pull-right {
  float: right;
  display: block;
}

html body div.container .pt-0,
html body div .pt-0 {
  padding-top: 0;
}

.newMessage {
  font-weight: bold;
}

.account-mail .mail-reply-container {
  display: none;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 10px;
}

.mail-reply-container .form-control {
  width: 100%;
  height: 100px;
}

.mail-reply-container button {
  cursor: pointer;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 400;
  color: #20599d;
  text-transform: uppercase;
  padding: 5px 0;
  background: none;
  border: none;
  float: right;
  margin-top: 10px;
}

/* Popover fixes */
.popover-content,
body .popover {
  max-width: 420px;
  height: auto !important;
  padding: 0;
  border: none !important;
  background: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: none !important;
}

.position-relative {
  position: relative;
}

.apopover {
  display: inline-block;
  /*position: relative;*/
  overflow: visible;
}

.apopover .popover {
  display: block;
  opacity: 0;
  pointer-events: none;
  left: -95px;
  top: -310px;
  -webkit-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;

  position: absolute;
}

.display-table-cell {
  display: table-cell;
}

.apopover .popover2 {
  display: block;
  left: 100%;
  opacity: 0;
  top: 0;
  position: absolute;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.apopover:hover .popover,
.apopover:hover .popover2 {
  /*display: block;*/
  opacity: 1;
}

.popover-content img {
  position: relative !important;
  width: auto !important;
  max-height: 400px !important;
  max-width: 400px !important;
}

.popover2,
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
}

.popover2.top,
.popover.top {
  margin-top: -10px;
}

.popover2.right,
.popover.right {
  margin-left: 10px;
  -webkit-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
}

.popover2.bottom,
.popover.bottom {
  margin-top: 10px;
}

.popover2.left,
.popover.left {
  margin-left: -10px;
}

.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.popover2 .popover-content {
  padding: 4px 8px;
  display: block;
}

.popover2>.arrow,
.popover2>.arrow:after,
.popover>.arrow,
.popover>.arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover2>.arrow,
.popover>.arrow {
  border-width: 11px;
}

.popover2>.arrow:after,
.popover>.arrow:after {
  border-width: 10px;
  content: '';
}

.popover2.top>.arrow,
.popover.top>.arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: fadein(rgba(0, 0, 0, 0.2), 5%);
  bottom: -11px;
}

.popover2.top>.arrow:after,
.popover.top>.arrow:after {
  content: ' ';
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: white;
}

.popover2.right>.arrow,
.popover.right>.arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: fadein(rgba(0, 0, 0, 0.2), 5%);
}

.popover2.right>.arrow:after,
.popover.right>.arrow:after {
  content: ' ';
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: white;
}

.popover2.bottom>.arrow,
.popover.bottom>.arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: fadein(rgba(0, 0, 0, 0.2), 5%);
  top: -11px;
}

.popover2.bottom>.arrow:after,
.popover.bottom>.arrow:after {
  content: ' ';
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: white;
}

.popover2.left>.arrow,
.popover.left>.arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: fadein(rgba(0, 0, 0, 0.2), 5%);
}

.popover2.left>.arrow:after,
.popover.left>.arrow:after {
  content: ' ';
  right: 1px;
  border-right-width: 0;
  border-left-color: white;
  bottom: -10px;
}

.whychooseus-online,
.whychooseus-online.mb-0 {
  margin-bottom: 0 !important;
}

.whychooseus-online.mb-0 p,
.whychooseus-online.mb-0 .title {
  color: #fff !important;
}

.tooltip-item .partner-tooltip {
  display: none;
}

.parcel-filter-block {
  width: 100%;
}

html .parcel-filter-block {
  margin-bottom: 0;
}

div.parcel-filter-block>*:last-child {
  margin-bottom: 30px;
  padding-bottom: 10px;
}

body.stickynav-fixed .parcel-filter-block {
  background: #fff;
  z-index: 20;
  top: 0;
  position: fixed;
}

.parcel-filter-block-shadow {
  display: none;
  margin-bottom: 30px;
  width: 100%;
}

body.stickynav-fixed .parcel-filter-block-shadow {
  display: block;
}

.opennow.hide {
  visibility: hidden;
  display: none;
}

.closenow.hide {
  visibility: hidden;
  height: 0;
}

html .videohelp .videos .item {
  line-height: 1;
}

.videohelp .videos .item .inner {
  cursor: pointer;
  border: 2px solid #d0cdcd;
  background: #f9f9f9;
}

.videohelp .videos .item .inner:hover {
  background: #fff;
}

.videohelp .videos .item .inner {
  text-align: center;
}

.videohelp .videos .item .inner p {
  font-size: 18px;
  margin: 12px 0;
  color: #000;
}

.videohelp .videos .item .inner span {
  display: inline-block;
  padding-left: 25px;
  background: url(/img/hiw/video.png) no-repeat 0 50%;
  color: #41a1ed;
  text-decoration: underline;
  margin: 12px 0;
}

.parcel-filter-item#defb {
  float: right;
}

html .courier-calc .courier-calc-block img.courier-calc-img {
  left: 20px;
}

.courier-calc .courier-calc-block .courier-form {
  max-width: 660px;
}

.courier-calc .courier-calc-block .courier-form .dublicate-row .col-3 {
  width: 20%;
  padding: 0 6px;
}

.courier-calc .courier-calc-block .courier-form .dublicate-row .col-3:first-child {
  padding-left: 10px;
}

.courier-calc .courier-calc-block .courier-form .dublicate-row .col-3>input {
  padding-left: 6px;
  padding-right: 6px;
}

.courier-calc .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 6px;
  padding-right: 19px;
}

@media (max-width: 767px) {
  html .dublicate {
    padding-top: 0;
  }

  html .ccalc-delete {
    right: -12px;
  }

  html div.row .col.col-xs-24 {
    width: 100%;
    float: none;
  }
}

html .whychooseus .col-8.fix .whyus-item:nth-child(2n + 1) {
  margin-right: 0;
}

.whychooseus .col-8.fix .whyus-item:nth-child(2n + 2) {
  margin-right: 2.6%;
}

.parcel-filter-block .parcel-filter-item#defc {
  width: 100%;
}

.folders.parcel-status {
  float: right;
}

@media (max-width: 599px) {
  table.bluetable.myparcels-table tr td.td-delivery-date:before {
    content: 'Delivery Date';
  }

  table.bluetable.myparcels-table tr td.td-shipping-date:before {
    content: 'Shipping Date';
  }

  table.bluetable.myparcels-table tr td.td-paid:before {
    content: 'Paid';
  }

  table.bluetable.myparcels-table tr td.td-dept:before {
    content: 'Dept';
  }

  table.bluetable.myparcels-table tr td.td-reciever-name:before {
    content: 'Receiver Name';
  }

  table.bluetable.myparcels-table tr td.td-reciever-phone:before {
    content: 'Receiver Phone';
  }
}

.icon-removebig-sm {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.headings-blue .username {
  float: right;
  font-size: 16px;
  font-weight: normal;
  line-height: 50px;
}

@media (max-width: 479px) {
  .headings-blue .username {
    line-height: 36px;
  }
}

.videos .item {
  text-decoration: none;
}

.balance-val {
  text-align: right;
  font-size: 22px;
  font-size: 20px;
  font-weight: 500;
  font-weight: 300;
  line-height: 1.1;
  color: #20599d;
}

ul.icons-list {
  /*margin-bottom: 20px;*/
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

ul.icons-list li {
  list-style: none;
}

ul.icons-list li>a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

ul.icons-list li.color-red {
  color: red;
}

ul.icons-list li.two-line {
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-wrap: wrap;
}

ul.icons-list li .img {
  display: block;
  position: relative;
}

ul.icons-list li .img .cnt {
  position: absolute;
  border-radius: 50%;
  min-height: 15px;
  min-width: 15px;
  text-align: center;
  right: -2px;
  bottom: -2px;
  background: red;
  color: #fff;
}

ul.icons-list li .img img {
  max-width: 43px;
  max-height: 43px;
  width: 100%;
  height: auto;
}

ul.icons-list li .title {
  padding-left: 10px;
  display: block;
  overflow: hidden;
}

ul.icons-list li a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.hide {
  display: none !important;
}

.text-right {
  text-align: right;
}

.add-link.add-link-small i.icon.icon-add {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.add-link.add-link-small span {
  font-size: 12px;
}

.myparcels .heading .search-parcels .search-parcels-inner .input-group a.btn-search {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btncol.btncol-2 {
  display: none;
}

.icons-list li {
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .btn-block {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .btn-block .btncol .text-right,
  .btn-block .btncol .balance-val {
    text-align: left;
  }

  ul.icons-list a {
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  ul.icons-list li .title {
    padding-left: 0;
    margin-top: 10px;
    text-align: center;
  }

  .icons-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .icons-list li {
    width: 33%;
  }

  .icons-list li.two-line {
    display: none !important;
  }

  html .myparcels .heading .search-parcels .search-parcels-inner {
    display: block;
    clear: both;
    margin-bottom: 10px;
  }

  html .myparcels .heading .search-parcels .search-parcels-inner .input-group {
    display: block;
    clear: both;
    margin-bottom: 10px;
  }

  .myparcels .heading .search-parcels .search-parcels-inner .btn-block {
    padding-left: 0;
  }

  html .myparcels .heading .search-parcels,
  .myparcels .heading h1 {
    display: block;
  }

  .btn-block {
    width: 100% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .btn-block .btncol {
    width: 50%;
    text-align: left;
  }

  .btncol.btncol-2 {
    display: block;
    color: red;
  }

  .btncol.btncol-2 .depth {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.1;
  }
}

@media (max-width: 736px) {
  .icons-list li {
    width: 50%;
  }
}

table.bluetable.myparcels-table {
  margin-bottom: 20px;
}

html .account-page {
  margin-bottom: 20px;
}

html .myparcels .heading {
  margin-bottom: 20px;
}

@media (max-width: 736px) {
  table.bluetable.myparcels-table {
    margin-bottom: 0;
  }
}

#parcel-share-modal .container.loginpage .inner .btn.btn-light {
  white-space: nowrap;
}

#parcel-share-modal .container.loginpage .inner {
  padding: 0;
}

.select2-container {
  z-index: 9000;
}

#parcel-share-modal .container.loginpage {
  margin-bottom: 20px;
  margin-top: 20px;
}

.parcel-share-result.error,
.parcel-share-result.ok {
  margin-top: 10px;
  border: 1px solid green;
  padding: 10px;
}

.parcel-share-result.error {
  border: 1px solid red;
}

.filter-block-bottom {
  margin-top: 20px;
}

.filter-block-bottom .filter-pager {
  padding-top: 0;
}


html {
  overflow: none;
  padding: 0;
  margin: 0
}

body {
  overflow-x: hidden;
  background: #fff;
  font-family: "Open Sans", arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #4c4c4c
}

* {
  box-sizing: border-box
}

input::-webkit-input-placeholder {
  color: #818181;
  opacity: 1;
  font-weight: 400
}

input:-moz-placeholder {
  color: #818181;
  opacity: 1;
  font-weight: 400
}

input::-moz-placeholder {
  color: #818181;
  opacity: 1;
  font-weight: 400
}

input:-ms-input-placeholder {
  color: #818181;
  opacity: 1;
  font-weight: 400
}

input:focus::-webkit-input-placeholder {
  color: #818181;
  opacity: .5
}

input:focus:-moz-placeholder {
  color: #818181;
  opacity: .5
}

input:focus::-moz-placeholder {
  color: #818181;
  opacity: .5
}

input:focus:-ms-input-placeholder {
  color: #818181;
  opacity: .5
}