/*
 * Structural featherlight rules only — everything this site actually overrides visually
 * (overlay color, content padding/border, the close icon's real sprite graphic) lives in
 * public/css/style.css already (search "featherlight" there) and must win untouched. This
 * file exists only for the base positioning/centering the featherlight *plugin* used to
 * provide (never expressed in this site's own CSS, since the plugin always supplied it).
 * Source for the base rules: Featherlight 1.5.0, Noël Raoul Bossart, MIT License — trimmed to
 * drop everything style.css already re-declares.
 */
.featherlight {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.featherlight:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.featherlight .featherlight-content {
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  overflow: auto;
  margin-left: 5%;
  margin-right: 5%;
  max-height: 95%;
  background: #fff;
  cursor: auto;
  white-space: normal;
  box-sizing: border-box;
}

.featherlight .featherlight-inner {
  display: block;
}

.featherlight .featherlight-close-icon {
  position: absolute;
  cursor: pointer;
  text-indent: -9999em;
  overflow: hidden;
}

@media only screen and (max-width: 1024px) {
  .featherlight .featherlight-content {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 98%;
  }
}
